body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f7d6d6;
}

header {
    background-color: #f4b6b6;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    font-weight: bold;
}

nav a:hover {
    background-color: #ffe4e1;
    color: #ff6347;
}

nav h1 {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    grid-column: 3;
}

nav h1 div:first-child {
    font-weight: 800;
}

nav h1 div:last-child {
    font-weight: 400;
}

main {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}

main div {
    overflow: hidden;
    background: white;
    border: 2px solid #ffb6c1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

main div:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

main h2 {
    font-size: 1.5em;
    color: #ff6347;
    margin-top: 0;
}

main p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

main a {
    display: inline-block;
    margin-top: 10px;
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.tall {
    grid-row: span 2;
}

.short {
    grid-row: span 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    
    nav h1 {
        grid-column: 2;
    }

    main {
        grid-template-columns: 1fr;
    }
}
@media (max-width:750px) {
    nav {
        display: flex;
        flex-direction:row;
        align-items: center;
    }

    nav a {
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    nav h1 {
        text-align: center;
        margin: 20px 0;
    }

    main {
        padding: 10px;
    }

    main div {
        padding: 10px;
    }

    main h2 {
        font-size: 1.2em;
    }

    main p,a{
        font-size: 0.9em;
    }

    
}
